<div class="wrapper">
    <ng-container *ngIf="ballConfig; else loading">
        <h1 [style.color]="ballConfig.color">Moving Ball</h1>
        <p>
            {{isAuto ? "Ball moves automatically": "Click the ball to move"}}
        </p>
        <div class="box">
            <div [class]="'ball ' + ballConfig.class" (click)="ballClicked()" [style.background-color]="ballConfig.color">
            </div>
        </div>
        <button (click)="automate()">
            {{isAuto ? "Manual" : "Automatic"}}
        </button>
    </ng-container>
    <ng-template #loading>
        loading...
    </ng-template>
</div>
